.dashboard-cont input {
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
   
  }

  .dashboard-cont {
    width: 80%;
   
    background: #fff;
    margin-top: 50px;
    border-radius: 4px;
    padding: 30px;
    margin: 0 auto;
  }

  .btni {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
  
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #fff;
    cursor: pointer;
}